@model SkateShop.Models.Item

@{
    ViewBag.Title = "Детальная информация о товаре";
}

<h2>Детальная информация о товаре</h2>

<fieldset>
    <legend>Товар</legend>

    <div class="display-label">Категория</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Цена</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">URL Фото</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemPhotoUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.ItemId }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
