@model SkateShop.Models.Category
 
@{
    ViewBag.Title = "Обзор товаров";
}
 
<div class="genre">
    <h3><em>@Model.Name</em> Albums</h3>
 
    <ul id="album-list">
        @foreach (var item in Model.Items)
        {
            <li>
                <a href="@Url.Action("Details", new { id = item.ItemId })">
                    <img alt="@item.Title" src="@item.ItemPhotoUrl" />
                    <span>@item.Title</span>
                </a>
            </li>
        }
    </ul>
</div>
